body{ 
    background-image: url(vs.jpg);
}


#a{
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
}
#b {
    border-radius: 20px;
}
#c{
    border-radius: 20px;
}

/* form {
    padding: 10px;
    border:2px black;
    background-color: rgb(252, 54, 54);
    border-top-left-radius: 80px;
    
} */
h3{
    padding: 50px;
    align-items: center;
    color: rgb(241, 45, 45);
}
#e{
    margin-bottom: 40px;
}
#f{
    margin-bottom: 40px;
}
.input-field{
    border-radius: 10px;
    padding: 20px;
}