body  
{  
    margin: 0;  
    padding: 0;  
    background-color:lightgray;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px; 
        overflow: hidden;  
        margin: auto;  
        margin: 50 0 0 450px;  
        padding: 50px;  
        background:white;  
        border-radius: 15px ;  
        text-align: center;
          
}  
h1{  
    text-align: center;  
    color: black;  
    padding: 20px;
    margin: 20px;

 
}  
label{  
    color: black;  
    font-size: 17px; 
    text-align: auto; 
    float: left;
    border-radius: 5%;
    margin-bottom:-10px;

    
}  
#username{  
    width: 400px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 8px;
    text-align: left;  
    background-color: lightgray;
}  
#password{  
    width: 400px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 8px; 
    background-color: lightgray; 
      
}  
#log{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 8px;  
    color: black;  
    background-color:red ;
    font-size: 17px;
    align-items: center;
    

  
  
}  
span{  
    color: black;  
    font-size: 17px; 
    float: left;
}
#check{
    float: left;
}
p{
    font-size:17px;
}  
a{
    font-size: 17px;
    float: left;
}